body {
  // letter-spacing: 0.01rem;
}
.card .card-body {
  padding: 1rem 1rem;
}
.card-body.main-bar-top-bg {
  padding: 0.5rem 0.5rem;
}
.bg-blue {
  background-color: #6798e2;
}
.bg-light-blue {
  background-color: #1e90ff;
}
.bg-pink {
  background-color: #e29389;
}
.bg-green {
  background-color: #62af77;
}
.bg-light-green {
  background-color: #d1ecd8;
  color: #1e542d;
}
.bg-light-green.btn:hover {
  color: #1e542d;
}
.bg-light-pink {
  background-color: #fcdbd7;
  color: #6f322b;
}
.bg-light-pink.btn:hover {
  color: #6f322b;
}
.bg-teel {
  background-color: #00b5d0;
}
.bg-teel-1 {
  background-color: #00a4bc;
}
.pro-comp {
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.f-s-12 {
  font-size: 0.75rem !important;
}
.f-s-2 {
  font-size: 12px;
}
.w-40 {
  width: 40%;
}
.w-42 {
  width: 42%;
}
.w-60 {
  width: 60%;
}
.com-pro {
  border-radius: 0.35rem;
  // letter-spacing: 0.001rem;
}
.h-100 {
  height: 100px;
}
.f-s-14 {
  font-size: 14px;
}
.f-w-600 {
  font-weight: 600;
}
.lt-1 {
  // letter-spacing: 0.01rem;
}
.btn-border-info {
  color: #ffffff;
  background: #1e91ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px #0000001a;
  border-radius: 6px;
  border: none;
}
.btn-border-info:hover {
  // border-color: #007bff;
  // color: #ffffff;
  // border: 1px solid !important;
  // background-color: #007bff;
  // border-radius: 0.25em;
  // border-radius: var(--btn-radius, 0.25em);
}
.news_upd {
  color: #161f44;
  border: 2px dashed #608aa7;
  border-radius: 0.45rem;
  padding: 10px 10px;
  // letter-spacing: 0.065rem;
  text-transform: capitalize;
}
.rbc-btn-group button {
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
}
.rbc-btn-group button.rbc-active {
  color: #df5505;
}
.rbc-toolbar button:active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus {
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
}
.rbc-btn-group:first-child button:first-child {
  display: none;
}
.rbc-toolbar button {
  border-radius: 0 !important;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.page-body-wrapper {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 !important;
}
.page-body-wrapper.full-page-wrapper {
  width: 100%;
  min-height: 100vh;
}

.main-panel {
  -webkit-transition: width 0.25s ease, margin 0.25s ease;
  transition: width 0.25s ease, margin 0.25s ease;
  width: calc(100% - 219px);
  min-height: calc(100vh - 64px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 991px) {
  .main-panel {
    margin-left: 0;
    width: 100%;
  }
}
.table {
  .serial-number {
    width: 45px;
  }
}
