.sideMenuElm li {
	width: 100%;
	float: left;
}
.sideMenuElm li a {
	width: 100%;
	float: left;
	padding: 5px 15px;
	transition: 0.25s ease-in-out;
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	font-size: 16px;
	border-left: 5px solid transparent;
}
.sideMenuElm li a:hover,
.sideMenuElm li a.active {
	background: #efefef;
	border-left: 5px solid rgb(92, 8, 8);
}
.sideMenuElm li a .fa:first-child {
	float: left;
	padding: 5px 10px 0 0;
}
.sideMenuElm li a .fright {
	padding: 5px 0 0 10px;
}
.sideMenuElm li .innerMenuElm li a {
	padding-left: 40px;
}
.super-admin-sidebar {
	.menu-item {
		text-decoration: none;
		i {
			align-self: top;
			line-height: 24px;
			margin: 4px 0px;
		}
	}
	.has-sub-menu {
		color: rgb(24, 133, 201);
	}
	.has-sub-menu:hover {
		color: rgb(0, 86, 179);
	}
}
