body {
	letter-spacing: unset;
}
.card .card-body {
	padding: 1rem 1rem;
}
.card-body.main-bar-top-bg {
	padding: 0.5rem 0.5rem;
}
.bg-blue {
	background-color: #6798e2;
}
.bg-light-blue {
	background-color: #1e90ff;
}
.bg-pink {
	background-color: #e29389;
}
.bg-green {
	background-color: #62af77;
}
.bg-light-green {
	background-color: #d1ecd8;
	color: #1e542d;
}
.bg-light-green.btn:hover {
	color: #1e542d;
}
.bg-light-pink {
	background-color: #fcdbd7;
	color: #6f322b;
}
.bg-light-pink.btn:hover {
	color: #6f322b;
}
.bg-teel {
	background-color: #00b5d0;
}
.bg-teel-1 {
	background-color: #00a4bc;
}
.pro-comp {
	padding-bottom: 4px;
	margin-bottom: 4px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.f-s-12 {
	font-size: 0.75rem !important;
}
.f-s-2 {
	font-size: 12px;
}
.w-40 {
	width: 40%;
}
.w-42 {
	width: 42%;
}
.w-60 {
	width: 60%;
}
.com-pro {
	border-radius: 0.35rem;
	/* letter-spacing: 0.001rem; */
}
.h-100 {
	height: 100px;
}
.f-s-14 {
	font-size: 14px;
}
.f-w-600 {
	font-weight: 600;
}
.lt-1 {
	/* letter-spacing: 0.01rem; */
}
/* .btn-border-info {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
  border: 1px solid;
  box-shadow: 0 0 0 transparent;
}
.btn-border-info:hover {
  border-color: #007bff;
  border: 1px solid !important;
  background-color: #007bff;
  border-radius: 0.25em;
  border-radius: var(--btn-radius, 0.25em);
} */
.news_upd {
	color: #161f44;
	border: 2px dashed #608aa7;
	border-radius: 0.45rem;
	padding: 10px 10px;
	/* letter-spacing: 0.065rem; */
	text-transform: capitalize;
}
.rbc-btn-group button {
	background-color: transparent;
	box-shadow: 0 0 0 transparent;
}
.rbc-btn-group button.rbc-active {
	color: #df5505;
}
.rbc-toolbar button:active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus {
	background-color: transparent;
	box-shadow: 0 0 0 transparent;
}
.rbc-btn-group:first-child button:first-child {
	display: none;
}
.rbc-toolbar button {
	border-radius: 0 !important;
}
.student-pathshala-content {
	.course {
		background-color: #6798e2;
		color: #fff;
		border-radius: 5px;
	}
	.best-subject {
		background-color: #62af77;
		color: #fff;
		border-radius: 5px;
		button {
			background: #d1ecd8;
			color: #548261;
		}
	}
	.worst-subject {
		background-color: #e29389;
		color: #fff;
		border-radius: 5px;
		button {
			background: #fcdbd7;
			color: #9d6963;
		}
	}
	.profile-info {
		background-color: #1e90ff;
		color: #fff;
		border-radius: 5px;
		button {
			background: #fcdbd7;
			color: #9d6963;
		}
	}
}
