.sofTitle.figko { padding-bottom: 50px; }
.jeeAppBox.supportBg.figko .rightfxdx { width: 39%; bottom: 90px; }
.jeeAppBox.supportBg.figkosm .rightfx { width: 35%; bottom: 45px; }
.jeeAppBox.ifgkobtn { color: #fff; }
.jeeAppBox.ifgkobtn h2 { padding: 0px; margin: 0 0 20px 0;}
.jeeAppBox.ifgkobtn p { padding: 0 140px; }
.jeeAppBox.ifgkobtn a { margin-top: 25px; width: 204px; display: inline-block; padding: 15px 30px; margin-right:20px; letter-spacing: 0.13px; color: #170117; border-radius:13px; background: #FFD49C; text-align: center; }

.conductBox.sofigko h5 { text-transform: inherit; padding: 0px; margin:0 0 15px 0; font-size: 20px; letter-spacing: 0.16px; color: #170117;}
.conductBox.sofigko li span { width: 33%!important; }
.conductBox.sofigko .jeenewBox.sof { width: 100%!important; }
.conductBox.sofigko .jeenewBox.sof li:last-child span { border-bottom: 0px; }
.jeenewBox.sof ul { padding-bottom: 0px; }
.jeenewBox.sof .midTable { min-height: 270px!important; }
.jeenewBox.sof li:last-child span { padding-bottom: 10px; }