.ieoCntr { padding: 50px 0 0 0; color: #000; font-size: 14px;  }
.ieoCntr h2 { font-size: 26px; text-transform: inherit; }
.ieoCntr h3 { font-size: 24px; text-transform: inherit; font-weight: 700; }
.ieoCntr h4 { font-size: 20px; text-transform: inherit; font-weight: 700; }
.ieoCntr p { color: #000; }
.pad_b_30 { padding-bottom: 30px; }

.boxshadowMid { width: 60%; margin: 10px auto 0; float: none; display: block; }
.ieoBox .midTable { box-shadow: 0px 0px 69px #6D4B0729; border-radius: 2px; }
.ieoBox li.titleList { background: #F3E2E2; }
.ieoBox li { width: 100%; float: left; }
.ieoBox li span { border-bottom: 1px solid #efefef; padding: 10px 20px; width: 25%; float: left; font-size: 14px; color: #230224; letter-spacing: 0.11px; }
.ieoBox li span:first-child { width: 15%; border-right: 1px solid #efefef; }
.ieoBox li span:last-child { width: 60%; text-align: center; border-left: 1px solid #efefef;  }
.ieoBox li:last-child span { border-bottom: none;}
.ieoBox li.mnHeight span { min-height: 62px;}

.ieoCntr.bgbox { padding: 50px; margin-top:50px; background: #ECF2F9; }
.ieoCntr.bgbox p,.ieoCntr.notbgElm p{ color:#202020;}
.ieoCntr.bgbox ul,.ieoCntr.notbgElm ul { padding: 5px 0;}
.pad_t_b_15 { padding-top: 15px; padding-bottom: 15px; }
.ieoCntr.bgbox li .fa,.ieoCntr.notbgElm li .fa { padding-top:5px; font-size: 10px; float: left; padding-right:5px; }
.ieoCntr.bgbox li span,.ieoCntr.notbgElm li span { width: 98%; float: left; }
.levelTag { margin-bottom: 15px; float: left; padding: 0 10px; color: #fff; letter-spacing: 0.13px; font-size: 12px; text-align: left;  width: 68px; border-radius: 0px; height: 30px; line-height: 30px; background: #230224; position: relative; }
.levelTag em { width: 10px; height: 30px; position: absolute; top: 0%; right: -16px; z-index: 2; border-top: 14px solid transparent; border-left: 17px solid #230224; border-bottom: 14px solid transparent; }
.ieoCntr.notbgElm ul li ul { width: 100%; float:left; padding: 5px 0 5px 18px; }
.pad_t_15 { padding-top: 15px; }

.awardBox { width: 50%; float: left; }
.awardBox .olympiadItem { width: 100%!important; margin: 0 0 15px 0!important; }
.awardBox .olympiadItem .levelTag { width: auto; margin-right: 50px; margin-bottom: 0px; }
.lineHeight28 { line-height: 28px;}
.awardBox ul { padding-top: 0px!important; }
.awardBox .ieoBox li span:first-child { width: 15%!important; }
.awardBox .ieoBox li span:last-child { width: 30%!important; }
.awardBox .ieoBox li span { width: 55%!important; min-height: 85px; }
.awardBox .ieoBox li.titleList span { min-height: auto; }